#### Business Database Configuration ####
DB_USER=your_secure_db_user
DB_PASSWORD=your_secure_db_password
DB_NAME=companies_data_db
DB_HOST=localhost
DB_PORT=5432
AIRFLOW_DB_NAME=airflow_metadata_db
#### Companies House API Configuration ####
DB_API_KEY=your_actual_companies_house_api_key
#### Airflow Web UI Admin User Configuration ####
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin_secure_password